.synthesiser-container {
  max-height: 100vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  position: absolute;
  left: 25%;
  transform: translateX(-25%);
  right: 27.5%;
  transform: translateX(-27.5%);
}

.controls-container {
  text-align: center;
  padding: 0.75rem;
}
.controls-container > select {
  width: 2.5rem;
  height: 1.25rem;
}

