#sequencer {
  padding: 1rem;
  padding-bottom: 4rem;
}

#sequencer-controls {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}


#tempo, #tempo-heading {
  display: inline-block;
  font-size: smaller;
  height: 0.25rem;
}

button {
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 10px;
}
input {
  margin: 3px 5px;

}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
  appearance: none;
  outline: 2px #666 outset;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease;
}
input[type='checkbox']:checked {
  background-color: #61dafb;
  transition: all 0.1s ease;
}