.synthesiser-notes {
  position: flex;
  flex-direction: column;
  background-color: #333;
  font-size: 10px;
  padding: 0.5rem;
  margin: 1.5rem 1rem;
  height: fit-content;
  width: 15vw;
  border: 2px solid black;
  cursor: pointer;
  user-select: none;
}

.white-note {
    position: relative;
    background-color: #f4f4f4;
    text-align: end;
    height: 35px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}


.black-note {
  position: absolute;
  background-color: #222;
  border-radius: 2px;
  width: 60%;
  height: 25px;
  left: -1%;
  bottom: -30%;
  color: white;
  z-index: 1;
}

