.synthesiser-notes {
  position: flex;
  flex-direction: column;
  height: 100%;
  width: 15vw;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
  user-select: none;
}

.white-note {
    position: relative;
    background-color: #f4f4f4;
    height: 35px;
    width: 100%;
    border: 1px solid black;
}


.black-note {
  position: absolute;
  background-color: #222;
  width: 58%;
  height: 25px;
  bottom: -30%;
  color: white;
  z-index: 1;
}

